/* REGOLE GENERASLI */

*{
  box-sizing: border-box;
  margin: 0;
}

.evidenziato {
  color: rgb(0, 106, 255);
}

.h1, h1 {
    font-size: 55px;
}



/* REGOLE JT */
#jt {
  background-image: url(../img/jumbo.svg);
  background-size: cover;
}

#iscrizione {
  margin: 20px auto;
  text-align: center;
  background-color: white;
  border-radius: 4px
}
#iscrizione input {
  display: block;
  width: 100%;
  border: 1px solid rgba(200, 200, 200, 0.7);
  border-radius: 3px;
  margin: 10px 0;
}

#jt h1{
  color: white;
}

#jt [class*="col-"]:first-child p{
  color: rgba(255, 255, 255, 0.7);
}

#jt h3{
  margin:10px 0;
}

#jt .btn{
  width: 100%;
  margin-bottom: 10px;
}

#iscrizione img{/* altezza del bottone 20px */
  width: 18px;
  float: left;
  margin-top: 1
  px;
}

/* REGOLE BUSINESSES */
