/* REGOLE GENERASLI */

*{
  box-sizing: border-box;
  margin: 0;
}

.evidenziato {
  color: rgb(0, 106, 255);
}

.h1, h1 {
    font-size: 55px;
}

body{
  font-family: 'Roboto', sans-serif;
}

p{
  font-family: sans-serif;
}

/* REGOLE JT */
#jt {
  background-image: url(../img/jumbo.svg);
  background-size: cover;
}

#iscrizione {
  margin: 20px auto;
  text-align: center;
  background-color: white;
  border-radius: 4px
}
#iscrizione input {
  display: block;
  width: 100%;
  border: 1px solid rgba(200, 200, 200, 0.7);
  border-radius: 3px;
  margin: 10px 0;
}

#jt h1{
  color: white;
}

#jt [class*="col-"]:first-child p{
  color: rgba(255, 255, 255, 0.7);
}

#jt h3{
  margin:10px 0;
}

#jt .btn{
  width: 100%;
  margin-bottom: 10px;
}

#iscrizione img { /* altezza del bottone 20px */
  width: 18px;
  float: left;
  margin-top: 1px;
}




/* REGOLE BUSINESSES */
#businesses {
  background-color: rgb( 243, 245, 249);
  text-align: center;
}

#businesses p{
  color: rgb(125, 125, 125);
  margin-top: 30px;
}

#businesses .row:last-child {
  margin-bottom: 15px;
}

/* REGOLE SEAMLESSLY */
#seamlessly {
  text-align: center;
}

#seamlessly {
  text-align: center;
}

#seamlessly > .container > .row:first-child {
  margin-bottom: 20px;
}

#elenco {
  border-left: 1px solid rgb(125, 125, 125);
  padding-left: 0;
}

#elenco > ul {
  list-style: none;
  text-align: left;
}

#elenco li {
  color: rgb(125, 125, 125);
  margin-bottom: 10px;
}

#griglia {
  text-align: left;
}

#griglia [class*="col-"], #elenco [class*="col-"] {
  margin-bottom: 15px;
}

#griglia img {
  margin-bottom: 10px;
}

/* REGOLE DEVELOPERS */
#developers {
  text-align: center;
  background-color: rgb( 243, 245, 249);
}

#developers img {
  width: 100%;
}

[class*="col-"]:first-child > .fas {
  color: gray;
  font-size: 50px;
  padding-top: 250px;
}

[class*="col-"]:last-child > .fas {
  color: black;
  font-size: 50px;
  padding-top: 250px;
}

#developers .row:first-child {
  margin-top: 50px;
}

#developers .row:nth-child(2) {
  margin-bottom: 20px;
}

#developers .row:last-child {
  margin-bottom: 50px;
}

#developers .row:last-child span {
  color: rgb(0, 106, 255);
}

/* REGOLE FEATURES */
#features .row:first-child {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 50px;
}

#features .row:last-child {
  margin-bottom: 50px;
}

/* REGOLE SERVICE */
#service{
  background: linear-gradient(to top, rgb(0, 33, 156), rgb(0, 71, 197));
}

#service .row:first-child {
  margin-top: 70px;
  margin-bottom: 10px;
}

#service .row:last-child {
  margin-bottom: 70px;
}

#service h3{
  color: white;
  text-align: center;
}

#service ul {
  list-style: none;
  color: lightgray;
}

#service li {
  padding: 5px;
}

#service li > span:first-child{
  color: white;
}

#service span{
  margin-right: 70px;
}

#service a{
  float: right;
}

.line-gray{
  border-bottom: 1px solid lightgray;
}

.line-white{
  border-bottom: 1px solid white;
}

/* REGOLE TEAMS */
#teams{
  text-align: center;
  background-color: rgb( 243, 245, 249);
}

#teams .row:nth-child(2) [class*="col-"]:nth-child(2) {
  margin-top: 100px;
  background-color: white;
  padding: 50px 0;
}

#teams span{
  color: blue;
}

#teams .row:last-child {
  margin: 30px 0;
}

/* REGOLE START */
#start {
  text-align: center;
}

#start .container {
  background: linear-gradient(to top, rgb(0, 33, 156), rgb(0, 71, 197));
}
